# ---------------------------------------------------------
# GENERAL BUILD / OUTPUT
# ---------------------------------------------------------
/dist
/tmp
/out-tsc
/bazel-out
/bower_components

# ---------------------------------------------------------
# NODE
# ---------------------------------------------------------
/node_modules
npm-debug.log
npm-debug.log*
yarn-error.log
yarn-debug.log*
lerna-debug.log*
logs
*.log

# ---------------------------------------------------------
# TYPESCRIPT / JS / BUNDLERS
# ---------------------------------------------------------
/.angular/cache
.sass-cache/
/connect.lock
coverage
/libpeerconnection.log
testem.log
/typings
*.tsbuildinfo
*.lcov
.nyc_output
.cache
.parcel-cache
.next
out
.nuxt
.vuepress/dist
.vuepress/.cache
.temp
.svelte-kit/
.docusaurus
.serverless/
.fusebox/
.dynamodb/
.firebase/
.vitepress/dist
.vitepress/cache
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# ---------------------------------------------------------
# RUNTIME / SYSTEM DATA
# ---------------------------------------------------------
pids
*.pid
*.seed
*.pid.lock
lib-cov
build/Release

# ---------------------------------------------------------
# IDEs & EDITORS
# ---------------------------------------------------------
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# VS CODE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
.vscode-test

# ---------------------------------------------------------
# ENVIRONMENT FILES
# ---------------------------------------------------------
.env
.env.*
!.env.example

# ---------------------------------------------------------
# MISC
# ---------------------------------------------------------
.DS_Store
Thumbs.db
.github/instructions/codacy.instructions.md

# ---------------------------------------------------------
# YARN V3
# ---------------------------------------------------------
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
